@use '../abstracts/variables' as var;

header.header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    a {
        text-decoration: none;
    }
}

