@use '../abstracts/variables' as var;

nav.principal__nav{
    margin-left: 130px;
    ul {
        list-style: none;
        display: flex;
        gap: 46px;
        font-weight: 300;
        a {
            color: var.$blue;
        }
    }
}